scripts/_check_*.js
.agents/
.gemini/
.vscode/

.env
.env.local
.dev.vars
.idea/
#node
node_modules/

# Secrets & Credentials
*-adminsdk-*.json
ggowcpredictor-firebase-adminsdk-fbsvc-76aa1b4e46.json
user-passwords.csv


# Output
merged-emails/
.wrangler/
wrangler-*.log
live.html
ggowcpredictor db  (1).xlsx

.agents/
*.log
*.har

.cursorignore
.clasp.json
codexchange scoring.md
contextforleaderboardissue.md

#temp
temp/
templap/
#context files
#docs
backup.cjs

#js

kladerboard backup.js

docs/scripts/test222.py
